@import url('https://fonts.googleapis.com/css?family=Lora|Roboto');

html, body{
    margin: 0;
    width: 100%;
    height: 100%;
    -webkit-animation:fade-in 1s ;
    -o-animation:fade-in 1s ;
    animation:fade-in 1s ;
}

*{
    box-sizing: border-box;
}

/*navbar*/
.head{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}

.head h1{
    font-family: 'Roboto', serif;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}


@keyframes fade-in {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.head nav{
    width: 50%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

@media screen and (max-width: 1000px){
    .menu {
        display: none !important;
    }
}

.menu{
    width: 60%;
    margin:0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}


.menu li {
    list-style: none;
}

.menu li a{
    color: white;
    font-size: 0.85em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

/*togglemenu*/
.side-nav{
    height:100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right:0;
    background-color: #0f0f0f;
    opacity: 0.8;
    overflow-x: hidden;
    padding-top: 60px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

@media screen and (min-width: 1000px){
    .side-nav{
        display: none;
    }
}

.navi .nav-open{
    color: whitesmoke;
    position: absolute;
    top: 5px;
    right: 2vw;
}

@media (min-width: 1000px) {
    .navi .nav-open{
        display: none;
    }
}

.side-nav a{
    padding: 15px 15px 15px 30px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 16px;
    color: whitesmoke;
    text-transform: uppercase;
    display: flex;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-weight: bolder;
}

.side-nav a:hover{
    color: black;
    background-color: whitesmoke;
}

.side-nav .nav-close{
    position: absolute;
    top: 5px;
    right: 25px;
    color: whitesmoke;
}

/*main*/

.main{
    width: 100%;
    height: 100vh;
    background: url("../gallery/patrick-hendry-336218.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contain{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 span{
    height: 30px;
    display: block;
    letter-spacing: 2px;
    font-family: 'Roboto', serif;
    font-size: 1.2em;
    text-transform: uppercase;
    border-bottom: 2px solid white;
    color: white;
}

.lora{
     font-family: 'Lora', serif;
     font-size: 4.5em;
     font-weight: lighter;
     margin:0;
     color: white;
}

@media screen and (max-width: 540px){
    .lora{
        text-align: center;
    }
}

@media screen and (max-width: 440px){
    .lora{
       font-size: 3em;
    }
}

 .contain .orange{
     font-size: 1em;
     color: #F09419;
     letter-spacing: 2px;
     text-transform: uppercase;
     font-family: 'Roboto', serif;
 }

 .btn{
     width: 200px;
     height: 50px;
     background-color: transparent;
     border: 2px solid white;
     border-radius: 3px;
     text-transform: uppercase;
     font-family: 'Roboto', serif;
     font-size: 0.9em;
     letter-spacing: 2px;
     color: white;
     font-weight: bold;
     position: relative;
     top: 20%;
     cursor: pointer;
     -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -ms-transition: 0.3s;
     -o-transition: 0.3s;
     transition: 0.3s;
 }

 @media screen and (max-width: 600px) {
     .btn{
         top: 5%;
     }
 }

 .btn:hover{
     background-color: #F09419;
 }

 .article{
     width: 100%;
     height: 60vh;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }

 @media screen and (max-width: 1024px){
     .article{
         height: 70vh;
     }
 }

@media screen and (max-width: 1134px){
    .article{
        height: 100vh;
        justify-content: space-around;
    }
}

/*
text
*/

 .txt-one{
     width: 50%;
     height: 50%;
     opacity: 0;
     -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -ms-transition: 0.3s;
     -o-transition: 0.3s;
     transition: 0.3s;
 }

@media screen and (max-width: 610px){
    .txt-one{
        width: 100%;
        height: 30%;
    }
}

@media screen and (max-width: 470px){
    .txt-one{
        width: 100%;
        height: 20%;
    }
}

 .txt-one p{
     font-size: 2em;
     font-family: 'Lora', serif;
     text-align: center;
     font-weight: 500;
     color: #434343;
 }

@media screen and (max-width: 470px){
    .txt-one p {
        font-size: 20px;
        margin: 0;
    }
}



.txt-two{
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 740px){
    .txt-two{
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (max-width: 470px){
    .txt-two{
        height: 70vh;
    }
}

.txt-two p{
    font-family: 'Roboto', serif;
    margin: 3px;
    line-height: 27px;
    font-weight: lighter;
    color: #BCBCBC;
}

@media screen and (max-width: 470px){
    .txt-two p {
        font-size: 13px;
    }
}

.showtext1{
    opacity:0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.showtext2{
    opacity:0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    transition-delay: 0.4s;
}

/*
antelope canyon
*/

.antelope-canyon{
    width: 100%;
    height: 50vh;
    background-size: cover;
    background: #F09419 url("../gallery/christopher-burns-189789.jpg") no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
